.canvas {
  width:1000px; /* 200 pixels */
  height:700px; /* 140 pixels */
  background-color:#ccc;
  margin-left:auto;
  margin-right:auto;
  border:5px solid #ccc;
}

.pixel {
  width:5px;
  height:5px;
  background-color:white;
  display:inline-block;
}